{% extends 'FitFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- daterange picker -->
  <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap-daterangepicker/daterangepicker.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body %}
 <div class="row">
   <div class="col-md-12">
     <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">Edit User</h3>
       </div>
       <form role="form" action="{{ path('admin_user_edit', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
         <div class="box-body">
           <div class="form-group">
             <label for="fullname">Full Name</label>
             {{ form_widget(form['fullname'], { 'attr': {'class': 'form-control', 'placeholder': 'Enter full name'} }) }}
           </div>
           <div class="form-group">
              <label>Birth Day</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                {{ form_widget(form['birthday'], { 'attr': {'class': 'form-control'}, 'id': 'datepicker' }) }}
              </div>
            </div>
           <div class="form-group">
             <label for="sex">Sex</label>
             {{ form_widget(form['sex'], { 'attr': {'class': 'form-control'} }) }}
           </div>
           <div class="form-group">
             <label for="phone">Phone</label>
             {{ form_widget(form['phone'], { 'attr': {'class': 'form-control', 'data-inputmask': "'mask': ['+79999999999']", 'data-mask': 'true'} }) }}
           </div>
           <div class="form-group">
             <label for="email">Enabled</label>
             {{ form_widget(form['enabled'], { 'attr': {'class': 'form-control'} }) }}
           </div>
           <div class="form-group">
             {{ form_widget(form['imagePhoto']) }}
           </div>
           {{ form_row(form['_token']) }}
         </div>
         <div class="box-footer">
           <button type="submit" class="btn btn-primary">Save</button>
         </div>
       </form>
     </div>
   </div>
 </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/bower_components/moment/min/moment.min.js') }}"></script>
  <script src="{{ asset('assets/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  <script src="{{ asset('assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/input-mask/jquery.inputmask.js') }}"></script>
  <script src="{{ asset('assets/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
  <script src="{{ asset('assets/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#datepicker').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
      });

      $('[data-mask]').inputmask();
    })
  </script>
{% endblock %}
