{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">New Password</h3>
      </div>
      {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-horizontal' } }) }}
          <div class="box-body">
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">{{ form_label(form.plainPassword.first) }}</label>
              <div class="col-sm-10">{{ form_widget(form['plainPassword'].children['first'], {'attr': { 'class': 'form-control' }}) }}</div>
            </div>
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">{{ form_label(form.plainPassword.second) }}</label>
              <div class="col-sm-10">{{ form_widget(form['plainPassword'].children['second'], {'attr': { 'class': 'form-control' }}) }}</div>
            </div>
            {{ form_row(form['_token']) }}
          </div>
          <div class="box-footer">
              <input type="submit" class="btn btn-info pull-right" value="{{ 'resetting.reset.submit'|trans }}" />
          </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
