<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fitness Club</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('assets/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('assets/dist/css/skins/_all-skins.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="{{ path('frontend_homepage') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
				<b>F</b>C
			</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Fitness</b>Club</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li class="user user-menu">
            <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle">
              <img src="{{ vich_uploader_asset(app.user, 'imagePhoto') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ app.user.fullname }}</span>
            </a>
          </li>
					{% else %}
						<li>
							<a class="navigation-link" href="{{ path('fos_user_security_login') }}">Sign In</a>
						</li>
					{% endif %}
        </ul>
      </div>
    </nav>
  </header>
	{% block menu %}
	<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">MAIN NAVIGATION</li>
				<li>
					<a href="{{ path('frontend_homepage') }}">
						<i class="fa fa-home"></i> <span>Home</span>
					</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li>
						<a href="{{ path('fos_user_profile_show') }}">
							<i class="fa fa-user"></i> <span>Profile</span>
						</a>
					</li>
					<li>
						<a href="{{ path('fos_user_security_logout') }}">
							<i class="fa fa-sign-out"></i> <span>Sign out</span>
						</a>
					</li>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li class="treeview">
						<a href="#">
							<i class="fa fa-dashboard"></i> <span>Control</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="{{ path('admin_user_index') }}"><i class="fa fa-circle-o"></i> Users</a></li>
							<li><a href="{{ path('admin_classes_index') }}"><i class="fa fa-circle-o"></i> Class schedule</a></li>
						</ul>
					</li>
					{% endif %}
				{% endif %}
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
	{% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      {% if app.session.flashBag.has('success') %}
        <div class="row">
          <div class="col-md-12">
            {% for msg in app.session.flashBag.get('success') %}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Fine!</h4>
                {{ msg }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% elseif app.session.flashBag.has('error') %}
        <div class="row">
          <div class="col-md-12">
            {% for msg in app.session.flashBag.get('error') %}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                {{ msg }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
			{% block body %}{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    Developed for <strong>Sveak</strong>
  </footer>

  {% block modal %}{% endblock %}
</div>
<!-- ./wrapper -->

  {% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- SlimScroll -->
    <script src="{{ asset('assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('assets/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('assets/dist/js/demo.js') }}"></script>
    <script src="{{ asset('assets/plugins/notif/notify.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $('.sidebar-menu').tree()
      })
    </script>
  {% endblock %}
</body>
</html>
