{% extends 'FitFrontendBundle::layout.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-12">
      <div class="box box-solid">
          <div class="box-body">
              <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                  Welcome to demo Fitness Club
              </h4>
              <dl>
                <dt>Authentication data</dt>
                <dd>Login: admin@admin.com</dd>
                <dd>Password : admin</dd>
              </dl>
          </div>
      </div>
  </div>
</div>
{% endblock %}
