{% extends 'FitFrontendBundle::layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Class</h3>
        </div>
        <form role="form" action="{{ path('admin_classes_edit', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Classes name</label>
              {{ form_widget(form['name'], { 'attr': {'class': 'form-control', 'placeholder': 'Enter classes name'} }) }}
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Fullname Trainer</label>
              {{ form_widget(form['trainer'], { 'attr': {'class': 'form-control', 'placeholder': 'Enter trainer full name'} }) }}
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Description</label>
              {{ form_widget(form['description'], { 'attr': {'class': 'form-control', 'placeholder': 'Enter description'} }) }}
            </div>
            {{ form_row(form['_token']) }}
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
