{% extends 'FitFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-1">
      <a href="{{ path('admin_classes_new') }}" class="btn btn-app">
        <i class="fa fa-plus-circle"></i> New
      </a>
    </div>
    <div class="col-md-11">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Classes</h3>
        </div>
        <div class="box-body">
          <table id="table-1" class="table table-bordered table-striped" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th>Title</th>
                <th>Trainer</th>
                <th>Description</th>
                <th>Subscribers</th>
                <th class="disabled-sorting text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script>
    $(document).ready(function() {
        $('#table-1').DataTable({
            'bProcessing': true,
            'bServerSide': true,
            'sAjaxSource': Routing.generate('admin_classes_get'),
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
        });
        var table = $('#table-1').DataTable();

        $('.card .material-datatables label').addClass('form-group');

        $('#table-1').on('click', '.delete', function(){
          var id = this.id,
              button = this;
          button.disabled = true;
          $.post(Routing.generate('admin_classes_remove', { id:id }),
          function(res){
              if(res.status == 'success'){
                $.notify("Successfully Deleted", "success");
                table.ajax.reload();
              }else {
                $.notify("Error deleted", "error");
                button.disabled = true;
              }
          }, "json");
        });
    });
  </script>
{% endblock %}
