{% extends 'FitFrontendBundle::layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Send Notification</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <p class="text-muted">
              <b>Template vars:</b> %fullname%, %phone%
            </p>
            <div class="form-group">
              <label class="col-sm-2 control-label">E-mail Message</label>
              <div class="col-sm-10"><textarea class="form-control" id="emailmsg" rows="3" placeholder="Enter ..."></textarea></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">SMS Message</label>
              <div class="col-sm-10"><textarea class="form-control" id="smsmsg" rows="3" placeholder="Enter ..."></textarea></div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" id="sendmsg" class="btn btn-info pull-right">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Classes Info</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
            <p>
              Title: {{ title }}
            </p>
            <p>
              Trainer: {{ trainer }}
            </p>
            <p>
              Description: {{ description }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#sendmsg').on('click', function(){
        var id = '{{ id }}',
            emsg = $('#emailmsg').val(),
            smsg = $('#smsmsg').val();
        $.post(Routing.generate('notif_email_send', { class:id, emsg:emsg, smsg:smsg }),
        function(res){
            if(res.status == 'success'){
              $.notify("Successfully sent", "success");
            }else {
              $.notify("Error sent", "error");
              button.disabled = true;
            }
        }, "json");
      });
    });
  </script>
{% endblock %}
