{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="callout callout-danger"><h4>{{ error.messageKey|trans(error.messageData, 'security') }}</h4></div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Log In</h3>
      </div>
      <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" method="post">
        <div class="box-body">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" /></div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
            <div class="col-sm-10"><input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" /></div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <input type="submit" class="btn btn-info pull-right" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
      </form>
    </div>
  </div>
</div>
