{% extends "FitFrontendBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block body %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock body %}

{% block modal %}
<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Notification</h4>
      </div>
      <div class="modal-body">
        <select class="form-control" id="nselect" name="notif">
          <option value="0">Disabled</option>
          <option value="1">E-mail</option>
          <option value="2">SMS</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary nsave">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script src="{{ asset('assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script>
    $(document).ready(function() {
        $('#table-1').DataTable({
            'bProcessing': true,
            'bServerSide': true,
            'sAjaxSource': Routing.generate('frontend_classes_get'),
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
        });

        var table = $('#table-1').DataTable();
        var ids = null;

        $('.card .material-datatables label').addClass('form-group');

        $('#table-1').on('click', '.subscribe', function(){
          var id = this.id,
              button = this;
          button.disabled = true;
          $.post(Routing.generate('frontend_classes_subscribe', { id:id }),
          function(res){
              if(res.status == 'success'){
                $.notify("Successfully subscribe", "success");
                table.ajax.reload();
              }else {
                $.notify("Error subscribe", "error");
                button.disabled = false;
              }
          }, "json");
        });

        $('#table-1').on('click', '.unsubscribe', function(){
          var id = this.id,
              button = this;
          button.disabled = true;
          $.post(Routing.generate('frontend_classes_unsubscribe', { id:id }),
          function(res){
              if(res.status == 'success'){
                $.notify("Successfully unsubscribe", "success");
                table.ajax.reload();
              }else {
                $.notify("Error unsubscribe", "error");
                button.disabled = true;
              }
          }, "json");
        });

        $('#table-1').on('click', '.notif', function(){
          ids = this.id;
          $.post(Routing.generate('frontend_classes_get_notif', { id:ids }),
          function(res){
              if(res.status == 'success'){
                $('#nselect').val(res.notif);
                $('#modal').modal('show');
              }else {
                $.notify("Error loading", "error");
              }
          }, "json");
        });

        $('.nsave').on('click', function(){
          var notif = $('#nselect').val();
          $.post(Routing.generate('frontend_classes_set_notif', { id:ids, notif:notif }),
          function(res){
              if(res.status == 'success'){
                $('#modal').modal('hide');
              }else {
                $.notify("Save error", "error");
              }
          }, "json");
        });
    });

  </script>
{% endblock %}
