{% trans_default_domain 'FOSUserBundle' %}

{% if user.sex == 1 %}
  {% set sex = 'male' %}
{% elseif user.sex == 2 %}
  {% set sex = 'female' %}
{% endif %}

<div class="fos_user_user_show">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ vich_uploader_asset(user, 'imagePhoto') }}" alt="{{ user.fullname }}" />

          <h3 class="profile-username text-center">{{ user.fullname }}</h3>

          <p class="text-muted text-center">{{ sex|title }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>E-mail</b> <a class="pull-right">{{ user.email }}</a>
            </li>
            <li class="list-group-item">
              <b>Phone</b> <a class="pull-right">{{ user.phone }}</a>
            </li>
            <li class="list-group-item">
              <b>BirthDay</b> <a class="pull-right">{{ user.birthday|date('d.m.Y') }}</a>
            </li>
          </ul>
          <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-block"><b>Change Password</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Classes</h3>
        </div>
        <div class="box-body">
          <table id="table-1" class="table table-bordered table-striped" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th>Title</th>
                <th>Trainer</th>
                <th>Description</th>
                <th class="disabled-sorting text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
